.glyphicon {
  color: red;
}

body {
  font-family: Roboto;
}

.social {
  display: flex;
  flex-direction: column;

  width: 24px;

  align-items: center;
}

ul,
li {
  list-style: none;
}

ul {
  padding: 0;
}

.social a {
  margin: auto;
}

.about img {
  max-width: 100%;
}

.foto {
  margin-right: 2%;
}

.about {
  max-width: 400px;
  margin: 0 auto;
}

.about h1 {
  text-align: center;

  color: #222222;

  font-size: 30px;
}

.about-contacts {
  display: flex;
  flex-direction: row;

  padding: 2%;

  border-radius: 2%;
  background: linear-gradient(-38deg, #eeeeee 10%, #dddddd 50%, #444444 50%, #ffffff 52%, #dddddd);

  justify-content: space-around;
}

.foto {
  width: 88%;
}

.bonus {
  text-align: center;

  font-style: italic;
}

.portfolio h2 {
  width: 100%;

  text-align: center;

  color: #222222;

  font-size: 20px;
}

.portfolio {
  display: flex;

  margin-top: 20px;

  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio .item {
  width: 25%;
}

.folio-link {
  display: block;

  width: 100%;
  margin: 20px;
  padding: 5px;

  transition-duration: 1s;
  text-decoration: none;

  color: #222222;
  border-radius: 5px;
  background: linear-gradient(-38deg, #eeeeee 10%, #dddddd 50%, #bdbdbd 50%, #ffffff 52%, #dddddd);

  align-self: flex-start;
}

.folio-img {
  display: flex;

  width: 150px;
  max-width: 150px;
  min-height: 50px;
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 5px;

  background-color: white;
  box-shadow: 0 0 2px green;

  align-items: center;
  justify-content: center;
}

.folio-img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 50px;
}

.social a {
  transition-duration: 1s;

  filter: none;
}

.folio-link:hover,
.social a:hover {
  filter: hue-rotate(360deg);
}

.social a:active {
  filter: saturate(5);
}

.description {
  display: none;

  min-width: 150px;
  max-width: 100%;
  padding: 10px;
  padding: 0 80px;
}

.description li {
  margin-top: 10px;
}

.social a img {
  width: 100%;
}

.tag {
  font-family: "Courier";
  font-style: normal;
}

.carousel-caption {
  padding-top: 0;
  padding-bottom: 0;

  text-align: left;
  text-align: center;

  color: #ffffff;
  text-shadow: 0 0 5px green;
}

.item {
  display: flex;

  justify-content: center;
  align-items: center;
}

.glyphicon {
  color: inherit;
}

.sertificates {
  text-align: center;
}

@media (max-width: 1300px) {
  .portfolio .item {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .portfolio .item {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .portfolio .item {
    width: 80%;
  }
}
